/* Partials */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tilt+Prism&display=swap");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Monthoers";
  src: url("../fonts/Monthoers.ttf");
}
@font-face {
  font-family: "SaintCarell";
  src: url("../fonts/SaintCarell_PERSONAL_USE_ONLY.otf");
}
@font-face {
  font-family: "CoolveticaCondensed";
  src: url("../fonts/coolvetica condensed rg.otf");
}
/* media querys */
@media screen and (max-width: 750px) {
  .formulario-corporativo, main .formulario-contacto h3 {
    width: 80% !important;
  }
  .formulario-index {
    width: 90% !important;
  }
  .mapa-sucursal {
    width: 90% !important;
  }
  .imagenes-promociones {
    width: 50% !important;
  }
  .fuentes-promo {
    margin-top: -5px !important;
  }
  .formulario-contacto {
    width: 90% !important;
    margin-right: 20px !important;
  }
}
header { /* Color fondo header */
  background-color: blueviolet;
}
header .navbar-brand { /* Color y fuente de titulo header */
  color: rgb(163, 91, 231);
  font-family: "SaintCarell";
}
header ul {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/* color fondo de main */
main {
  background-color: rgba(18, 8, 110, 0.521);
}
main h2, main h3 {
  background-color: rgba(42, 30, 44, 0.897);
  font-family: "CoolveticaCondensed";
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.747);
}
main h3 {
  display: flex;
  justify-content: center;
}
main section {
  font-family: "Montserrat", sans-serif;
}
main section .card {
  background-color: rgba(99, 55, 139, 0.808);
}
main section .card .card-title {
  flex-grow: 1;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.747);
}
main .formulario-index {
  background-color: rgba(23, 95, 129, 0.5);
  font-family: "CoolveticaCondensed";
}
main .formulario-index p {
  background-color: rgba(42, 30, 44, 0.897);
  color: rgba(180, 176, 184, 0.986);
  font-family: "CoolveticaCondensed";
}
main .promos, main .lista-sucursales {
  background-color: rgba(23, 95, 129, 0.5);
}
main .promos h3, main .lista-sucursales h3 {
  display: flex;
  justify-content: center;
  background-color: rgba(42, 30, 44, 0.897);
  font-family: "CoolveticaCondensed";
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.747);
}
main .promos .imagenes-promociones, main .lista-sucursales .imagenes-promociones {
  width: 270px;
  height: 200px;
  padding-bottom: 1rem;
}
main .promos p, main .lista-sucursales p {
  font-family: "CoolveticaCondensed";
  font-size: 18px;
}
main .card-corporativo {
  background-color: rgba(99, 55, 139, 0.808);
  justify-content: center;
  color: white;
  font-size: 21px;
  font-family: "CoolveticaCondensed";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.747);
}
main .formulario-corporativo h3, main .formulario-contacto h3 h3 {
  background-color: rgba(42, 30, 44, 0.897);
  color: rgba(180, 176, 184, 0.986);
  font-family: "CoolveticaCondensed";
}
main .lista-sucursales p {
  font-family: "CoolveticaCondensed";
  font-size: 18px;
}
main .card-contacto {
  background-color: rgba(98, 55, 139, 0.945);
  justify-content: center;
  color: white;
}

footer { /* color fondo de footer */
  padding: 10px 10px 10px 10px;
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
