@font-face {
    font-family: "Monthoers";
    src: url("../fonts/Monthoers.ttf");    
}
@font-face {
    font-family: "SaintCarell" ;
    src: url("../fonts/SaintCarell_PERSONAL_USE_ONLY.otf");
}
@font-face {
    font-family: "CoolveticaCondensed";
    src: url("../fonts/coolvetica\ condensed\ rg.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tilt+Prism&display=swap');
    