$color-principal-card: rgba(99, 55, 139, 0.808);
$color-fuente-principal: white;
$color-header: rgb(163, 91, 231) ;
$color-header-fondo: blueviolet;
$color-main: rgba(18, 8, 110, 0.521);
$color-footer: black;
$color-box-fondo: rgba(42, 30, 44, 0.897);
$color-fuente-titulo: rgb(246, 247, 248);
$color-box-fondo-secundario: rgba(23, 95, 129, 0.5);
$color-bk-titulo-form: rgba(42, 30, 44, 0.897);
$color-fuente-form: rgba(180, 176, 184, 0.986);
$color-sombra-fuente: rgba(0, 0, 0, 0.747)
